We will start with a simple baseline.

The idea here is to get a feel for what this very simple approach can achieve.

Further to that, we want to start getting our feet wet with the data, learning about the problem domain, get the logistics in place for making a sumission and so forth.

# First Submission

The period of interest for this competition is one week **after** the train data.

I imagine trends are quite important when it comes to fashion. Let's try to verify this assumption as we work on our first submission.

On our path to our first submission we will create a validation set (we will use the last week of the train data for this).

Our two sets of predictions, that we will submit to Kaggle, will be the most popular items purchased in the 2 weeks leading up to the period of our validation dataset, and the most popular items purchased 3 months earlier.

We will learn a little bit about trends by following this strategy. What is probably more important at this point, we will also learn whether our validatio set tracks the public LB.

In [12]:
import pandas as pd

In [213]:
transactions = pd.read_csv('data/transactions_train.csv', dtype={'article_id': str})
sample_sub = pd.read_csv('data/sample_submission.csv')

In [215]:
transactions.t_dat = pd.to_datetime(transactions.t_dat)

In [41]:
newest_entry = transactions.t_dat.max()
newest_entry

Timestamp('2020-09-22 00:00:00')

In [42]:
import datetime

In [44]:
last_7_days = transactions.t_dat > newest_entry - datetime.timedelta(days=7)

In [48]:
leading_up_2_weeks =  (transactions.t_dat < newest_entry - datetime.timedelta(days=7)) & (transactions.t_dat > newest_entry - datetime.timedelta(days=21))

In [49]:
a_quarter_ago_2_weeks =  (transactions.t_dat < newest_entry - datetime.timedelta(days=7+30*3)) & (transactions.t_dat > newest_entry - datetime.timedelta(days=21+30*3))

We have the time ranges for our validation dataset and the two "train sets". But how do we go from the transactions in the validation time period to something we can use to evaluate our predictions?

For every customer that has made a purchase in the period of interest we will use their purchases as our ground truth in chronological order. If fewer than 12 purchases were made, we will pad the list with 0s.

In [220]:
cust_id = []
purchases = []

for grp in transactions[last_7_days].groupby('customer_id'):
    cust_purchases = grp[1]['article_id'].tolist()[:12]
    while len(cust_purchases) < 12:
        cust_purchases.append('0')
    cust_id.append(grp[0])
    purchases.append(cust_purchases)

In [221]:
len(cust_id), len(purchases)

(68984, 68984)

In [222]:
validation_set = pd.DataFrame(data={'customer_id': cust_id, 'purchases': purchases})
validation_set.to_pickle('data/validation_set.pkl')

Now let's "calculate" our predictions.

In [223]:
predictions_leading_2_weeks = validation_set.copy()
predictions_leading_2_weeks['purchases'] = [transactions[leading_up_2_weeks]['article_id'].value_counts().index.tolist()[:12]]*68984

We can grab the code to run the metric calculation directly from github.

In [1]:
!wget https://raw.githubusercontent.com/benhamner/Metrics/master/Python/ml_metrics/average_precision.py

--2022-02-14 09:58:00--  https://raw.githubusercontent.com/benhamner/Metrics/master/Python/ml_metrics/average_precision.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1654 (1.6K) [text/plain]
Saving to: ‘average_precision.py’

average_precision.p 100%[===================>]   1.62K  --.-KB/s    in 0s

2022-02-14 09:58:01 (60.0 MB/s) - ‘average_precision.py’ saved [1654/1654]

In [182]:
from average_precision import apk

In [185]:
import numpy as np

def calculate_apk(list_of_preds, list_of_gts):
    apks = []
    for preds, gt in zip(list_of_preds, list_of_gts):
        apks.append(apk(preds, gt))
    return np.mean(apks)

And how did we do?

In [224]:
calculate_apk(predictions_leading_2_weeks.purchases, validation_set.purchases)

0.0036434351466822766

Not ideal but it is a start! :)

Now, let's do the same but using data from rouhly three months prior.

In [225]:
predictions_a_quarter_ago_2_weeks = validation_set.copy()
predictions_a_quarter_ago_2_weeks['purchases'] = [transactions[a_quarter_ago_2_weeks]['article_id'].value_counts().index.tolist()[:12]]*68984

In [226]:
calculate_apk(predictions_a_quarter_ago_2_weeks.purchases, validation_set.purchases)

0.00044962634537753403

As it turns out, there might be some tranding/seasonality to fashion purchase patterns!

Now let's see if we can make a submission using both sets of these predictions.

In [242]:
name = 'most_purchased_last_two_weeks'
sub = sample_sub.copy()
per_customer_predictions = ' '.join(transactions[leading_up_2_weeks]['article_id'].value_counts().index.tolist()[:12])
sub['prediction'] = [per_customer_predictions]*sub.shape[0]

In [239]:
!mkdir -p data/subs

In [ ]:
sub.to_csv(f'data/subs/{name}.csv.gz', index=False, compression='gzip')
pd.read_csv(f'data/subs/{name}.csv.gz')

In [246]:
!kaggle competitions submit -c h-and-m-personalized-fashion-recommendations -f data/subs/{name}.csv.gz -m "{name}"

100%|██████████████████████████████████████| 50.3M/50.3M [00:25<00:00, 2.05MB/s]
Successfully submitted to H&M Personalized Fashion Recommendations

And now looking roughly a quarter back.

In [247]:
name = 'most_purchased_3_mths_ago_two_weeks'
sub = sample_sub.copy()
per_customer_predictions = ' '.join(transactions[a_quarter_ago_2_weeks]['article_id'].value_counts().index.tolist()[:12])
sub['prediction'] = [per_customer_predictions]*sub.shape[0]

In [130]:
apk([1,2,3], [0,0,1], 12)

0.1111111111111111

In [125]:
validation_set

,customer_id,ground_truth
0,00039306476aaf41a07fed942884f16b30abfa83a2a8be...,"[624486001, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,0003e867a930d0d6842f923d6ba7c9b77aba33fe2a0fbf...,"[827487003, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,"[757926001, 788575004, 640021019, 0, 0, 0, 0, ..."
3,000525e3fe01600d717da8423643a8303390a055c578ed...,"[874110016, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,00077dbd5c4a4991e092e63893ccf29294a9d5c46e8501...,"[903762001, 879189005, 158340001, 867966009, 9..."
...,...,...
68979,fffa67737587e52ff1afa9c7c6490b5eb7acbc439fe82b...,"[874816003, 911870004, 0, 0, 0, 0, 0, 0, 0, 0,..."
68980,fffa7d7799eb390a76308454cbdd76e473d65b1497fbe4...,"[861803014, 849886010, 0, 0, 0, 0, 0, 0, 0, 0,..."
68981,fffae8eb3a282d8c43c77dd2ca0621703b71e90904dfde...,"[396135007, 817472007, 715624050, 817472003, 8..."
68982,fffd870c6324ad3bda24e4d6aeae221c199479086bfdfd...,"[750423010, 761269001, 0, 0, 0, 0, 0, 0, 0, 0,..."
68983,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,"[898573003, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [117]:
sample_sub

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0706016001 0706016002 0372860001 0610776002 07...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0706016001 0706016002 0372860001 0610776002 07...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0706016001 0706016002 0372860001 0610776002 07...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0706016001 0706016002 0372860001 0610776002 07...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0706016001 0706016002 0372860001 0610776002 07...

[898573003]

In [105]:
sample_sub

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0706016001 0706016002 0372860001 0610776002 07...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0706016001 0706016002 0372860001 0610776002 07...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0706016001 0706016002 0372860001 0610776002 07...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0706016001 0706016002 0372860001 0610776002 07...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0706016001 0706016002 0372860001 0610776002 07...

In [98]:
a = [1,2,3]

In [102]:
a.pop()

IndexError: pop from empty list

In [97]:
a.pop()

3

[715624010,
 717490008,
 717490058,
 832312002,
 856440002,
 870328001,
 871519008,
 873158008,
 902388001,
 902528006,
 927529001,
 927957001,
 870328002,
 932243002]

In [88]:
grp[1]

,t_dat,customer_id,article_id,price,sales_channel_id
31755572,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,871519008,0.033881,2
31755573,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,871519008,0.033881,2
31755574,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,717490058,0.008458,2
31755575,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,717490058,0.008458,2
31755576,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,873158008,0.016932,2
31755577,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,873158008,0.016932,2
31755578,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,717490008,0.008458,2
31755579,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,717490008,0.008458,2
31755580,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,902388001,0.016932,2
31755581,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,902388001,0.016932,2
31755582,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,715624010,0.025407,2
31755583,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,715624010,0.025407,2
31755584,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,832312002,0.067780,2
31755585,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,832312002,0.067780,2
31755586,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,927957001,0.033881,2
31755587,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,927957001,0.033881,2
31755588,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,932243002,0.025407,2
31755589,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,870328001,0.033881,2
31755590,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,870328001,0.033881,2
31755591,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,856440002,0.042356,2
31755592,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,856440002,0.042356,2
31755593,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,902528006,0.050831,2
31755594,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,902528006,0.050831,2
31755595,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,870328002,0.033881,2
31755596,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,927529001,0.033881,2
31755597,2020-09-22,012611429367ef74cb9008dcf0069284501071e90717e5...,927529001,0.033881,2

In [ ]:
last_7_days = transactions.t_dat > (newest_entry - datetime.timedelta(days=7))

In [11]:
transactions.shape

(31788324, 5)

In [9]:
sample_sub

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0706016001 0706016002 0372860001 0610776002 07...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0706016001 0706016002 0372860001 0610776002 07...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0706016001 0706016002 0372860001 0610776002 07...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0706016001 0706016002 0372860001 0610776002 07...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0706016001 0706016002 0372860001 0610776002 07...